<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Prello | Lists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/lists.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
</head>
<body>
  <div id="nav">
    <div class="nav-left">
      <div  id="nav-home"><a href="#"><i class="fas fa-home"></i></a></div>
      <div id="nav-boards">
        <i class="fab fa-flipboard nav-board-icon"></i>
        <h4 class="nav-board-title">Boards</h4>
      </div>
      <div id="nav-search">
        <i class="fas fa-search"></i>
        <span class="hidden"><i class="fas fa-times"></i></span>
      </div>
    </div>
    <h3 class="title">Prello</h3>
    <div class="nav-right">
      <div id="nav-add-btn">
        <span><i class="fas fa-plus"></i></span>
      </div>
      <div id="sign-out-btn">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
  </div>
  <div class="board-body">
    <div class="lists-container">
      <% lists.forEach(function(list) { %>
        <div class="list-wrapper">
            <div class="list  draggable-list">
              <div class="list-header">
                <h4><%= list.name %></h4>  
              </div>
              <div class="card-container">
                <div class="card-list">
                </div>
                <div class="card-form hidden">
                  <textarea name="card-content" class="card-content" placeholder="Enter a title for this card..." required></textarea>
                  <div class="card-btn-row">
                    <div class="card-btn-row-left">
                      <button class="card-add-btn">Add Card</button>
                      <i class="fas fa-times card-close-btn"></i>
                    </div>
                    <div class="card-add-options">
                      <i class="fas fa-ellipsis-h"></i>
                    </div>
                  </div>
                </div>
                </div>
              <div class="open-card-form">
                <i class="fas fa-plus card-form-sign"></i>
                <h4 class="card-form-message"></h4>
              </div>
            </div>
          </div>
      <% }); %>
    </div>
    <div class="open-list-form">
        <i class="fas fa-plus open-list-sign"></i>
        <h4 class="open-list-message"></h4>
    </div>
    <div class="list-form hidden">
      <input type="text" name="list-title" class="list-title" placeholder="Enter list title..." required/>
      <div class="list-btn-row">
        <button class="list-add-btn">Add List</button>
        <i class="fas fa-times list-close-btn"></i>
      </div>
    </div>
  </div>
  <div class="card-modal hidden">
    <div class="modal-bg"></div>
    <div class="modal-content">
      <div class="content-container">
        <div class="modal-exit"><i class="far fa-times-circle"></i></div>
        <div class="title-container">
          <h3 class="modal-title"></h3>
          <h5 class="modal-list-title"></h5>
        </div>
        <div class="description-container">
          <div class="description-background"></div>
          <div class="description-title-row">
            <span class="description-icon-container"><i class="fas fa-align-justify description-icon"></i></span>
            <h3 class = "description-title">Description</h3>
          </div>
          <p class="edit-description-btn">
            <a class="description">Add a more detailed description...</a>
          </p>
          <div class="description-content-container hidden">
              <textarea name="description-content" class="description-content" placeholder="Add a more detailed description..." required></textarea>
              <div class="description-content-btn-row">
                  <button class="submit-description-btn">Save</button>
                  <i class="fas fa-times description-close-btn"></i>
              </div>
          </div>
        </div>
        <div class="label-container">
          <div class="label-title-row">
            <span class="label-icon-container"><i class="fas fa-tag label-icon"></i></span>
            <h3 class = "label-title">Labels</h3>
          </div>
          <div class="label-content-container">
            <div class="label-list">
              <textarea name="label-content" class="label-content" placeholder="Add labels..." required></textarea>
            </div>
          </div>
        </div>
        <div class="comment-container">
          <div class="comment-title-row">
            <span class="comment-icon-container"><i class="far fa-comment comment-icon"></i></span>
            <h3 class="comment-title">Add Comment</h3>
          </div>
          <div class="comment-body-row">
            <span class="user-icon-container"><button class="user-icon">initials</button></span>
            <textarea name="comment-content" class="comment-content" placeholder="Write a comment..." required></textarea>
          </div>
          <button class="submit-comment-btn" disabled>Save</button>
          <div class="comment-list"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.2/lib/draggable.js"></script>
  <script src="javascripts/lists.js"></script>
</body>

</html>